*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  
    
    background: url('images/apple_singapore_orchard_road_120_foot_glass_exterior.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-home {
    width: 10%;
    height: 45px;
    background: #010101;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 600;
    color: #070707;
    font-weight: 600;
    margin-right: 40px;
}

.btn-home a{
    text-decoration: none;
    color: #ffffff;
}

.wrapper{
    width: 350px;;
    color: rgb(16, 16, 16);
    background: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .logo{
    margin-left: 40vh;
    width: 10vh;
    border-radius: 50%;
    border: 2px solid #000;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(4, 4, 4, 0.2);
    border-radius: 10px;
    font-size: 16px;
    color: #090909;
    padding: 20px 45px 20px 20px;
    
    
}

 .input-box input::placeholder{
    color: #090909;
}

input:focus{
    border:1px solid rgba(192,192,192)
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(50%);
    font-size: 20px;
}

.wrapper .remember-forget-password{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget-password label input{
    accent-color: #171717;
    margin-right: 3px;
}

.remember-forget-password a{
    color: #050505;
    text-decoration: none;
}

.remember-forget-password a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: rgba(17,107,143);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 600;
    color: #333;
    font-weight: 600;
}

.wrapper .btn a{
    text-decoration: none;
    color: #fff;
}
.wrapper .btn:hover{
    background-color: rgba(17,107,143, .8);   
}
.wrapper .btn a:hover{
    color: #000;   
}

.wrapper .sign-up-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.sign-up-link p a{
    color: #121212;
    text-decoration: none;
    font-weight: 600;
}

.sign-up-link p a:hover{
    text-decoration: underline;
    
}

.container1{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer {
  padding: 70px 0;
  background-color: transparent;
  backdrop-filter: blur(20px);

}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fdfdfd;
    
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
 
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #dbd8d8;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
 
.footer-col .social-icon a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:  50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-icon a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*respnsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}



